.sidebar {
    background-color: aliceblue; /* Pipedrive sidebar color */
    min-width: 50px; /* Adjust based on your preference */
    max-width: 50px;
    height: 100vh;
    padding: 1rem;
  }
  
  .sidebar-item {
    position: relative; /* Add this line */
  }
  
  .sidebar-item:hover {
    background-color: #094be3; /* Blue background color on hover */
  }
  
  .sidebar-item::before {
    content: attr(data-tooltip); /* Tooltip text from data attribute */
    position: absolute;
    left: 100%;
    margin-left: 10px; /* Adjust as needed */
    top: 50%;
    transform: translate(0, -50%);
    white-space: nowrap;
    padding: 5px;
    background-color: gray; /* Tooltip background */
    color: white; /* Tooltip text color */
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 100;
  }
  
  .sidebar-item:hover::before {
    opacity: 1;
    visibility: visible;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  .sidebar img {
    filter: invert(100%);
    margin-right: 10px;
    width: 50px; /* Adjust based on your icon size */
    border-radius: 4px; /* Optional: if you want rounded corners */
    padding: 5px; /* Optional: if you want some space around the icon */
  }
  
  .sidebar li i { /* Assuming you use <i> or <span> for icons */
    color: white;
    /* Other styles */
  }
  