.topbar {
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center;
    padding: 0.5rem;
    background-color: #eceff1;
  }
  
  .search-container {
    position: relative; /* Relative position for absolute positioning of the icon */
    display: flex;
    align-items: center;

  }
  
  .search-icon {
    position: absolute; /* Absolute position to place it over the search bar */
    left: 10px; /* Distance from the left */
    color: #5f6368; /* Color of the icon */
  }
  
  .search-bar {
    padding: 0.5rem 0.5rem 0.5rem 2rem; /* Padding to make space for the icon */
    margin: 0 auto; /* Auto margins for horizontal centering */
    border-radius: 21px;
    border: 1px solid #dfe1e5;
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
    outline: none;
    font-size: 16px;
    width: 400px; /* Adjust width as necessary */
    /* Additional styling for search input */
  }
  
  /* If using focus styles, update to accommodate the icon */
  .search-bar:focus {
    box-shadow: 0 1px 6px rgba(32,33,36,0.38), 0 0 0 2px rgba(26,115,232,0.3);
    border-color: rgba(26,115,232,0.3);
  }
  