@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html body, html input, html button, html select, html textarea{font-family: "Inter", sans-serif; font-weight: normal; font-size: 16px; line-height: 1.42857143; color: #21232c;}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* ---------- SIGN IN ---------- */
.sign-in__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sign-in__backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.sign-in__wrapper form {
  width: 24rem;
  max-width: 90%;
  z-index: 1;
  animation: showSignInForm 1s;
}

.sign-in__wrapper form img {
  width: 4rem;
}

@keyframes showSignInForm {

  0%,
  30% {
    transform: translate(0, -150%);
  }

  70%,
  90% {
    transform: translate(0, 1rem);
  }

  80%,
  100% {
    transform: translate(0, 0);
  }
}

.sidebar {
  color: 1px solid red;
}

.main {
  /* margin-left: 5%; */
  margin-top: 2%;
}

#root {
  padding: 0; margin: 0;
}

/* Sidebar Menu */

.sidenavhead {height: 56px; text-align: center; line-height: 56px; font-size: 30px; font-weight: 900; color: #ffffff;}
.sidenavhead i{font-size: 20px;}
.rs-sidenav.sidenav{background-color: #211c52;}
.tnavicon a svg {width: 20px;}
.sidenav ul > li{padding: 2px 0;}
.sidenav ul > li > a{border-radius: 3px;}
.rs-sidenav.sidenav ul > li > a .rs-icon{color: #ffffff;}
.rs-sidenav.sidenav ul > li > a{position: relative;}
.rs-sidenav.sidenav ul > li > a svg{fill: #ffffff; position: absolute; left: 50%; top: 50%; margin: -12px 0 0 -12px;}
.sidenav ul > li > a:hover{background-color: #6150e1 !important;}


/* Main Content */

.mainlayout{height: 100vh;}
.maincontentinner{height: calc(100% - 72px);}
.maincontentinner .gdnJsS, .maincontentinner .dVEiRS{min-width: auto;}
.maincontentinner > div {height: 100%;}

/* Add Deal Model Popup */
.modalpopup .modalhead{background-color: #f5f5f6; border-bottom: 1px solid rgba(33,35,44,.12); padding: 12px 20px 12px 16px; border-radius: 4px 4px 0 0;}
.modal-header .modal-title{padding-right: 15px; font-size: 16px; font-weight: bold;}
.modalpopup .modalfoot{background-color: #f5f5f6; border-bottom: 1px solid rgba(33,35,44,.12); padding: 8px 16px 8px 16px; box-shadow: inset 0 1px 0 0 rgba(33,35,44,.12); border-radius: 0 0 4px 4px;}
.modalfoot .modalfootbar{display: flex; align-items: center;}
.modalpopup .modalbody {padding-top: 0; padding-bottom: 0;}
.modelfootcountcol{display: flex;}
.modelformleft .col-sm-6{width: 100%;}
.modelformright {border-left: 1px solid rgba(33, 35, 44, .12);}
.personname{font-weight: bold; text-transform: uppercase; position: relative;}
.personname:after {content: ''; position: absolute; right: 0; top: 50%; width: calc(100% - 70px); height: 1px; background-color: rgba(33, 35, 44, .12);}
select.selectfield {border: 1px solid #dee2e6; height: 37px; width: 100%; border-radius: 4px; padding: 0 8px;}
.addphone a{font-weight: bold; color: #21232c;}

.pipelinestage-selector {
	display: flex;
    flex-grow: 1;
    position: relative;
    flex-flow: row nowrap;
    height: 24px;
    min-width: 240px;
    table-layout: fixed;
    width: 100%;
}

.pipelinestage{
    display: flex;
    flex-grow: 1;
    position: relative;
}
.pipelinestage{
    align-items: center;
    background-color: #2d8647;
    -webkit-clip-path: polygon(calc(100% - 6px) 0, 100% 50%, calc(100% - 6px) 100%, 2px 100%, 8px 50%, 2px 0);
    clip-path: polygon(calc(100% - 6px) 0, 100% 50%, calc(100% - 6px) 100%, 2px 100%, 8px 50%, 2px 0);
    color: #fff;
    cursor: pointer;
    flex-basis: 0;
    font: 450 12px / 18px "Inter",sans-serif;
    font-stretch: normal;
    font-style: normal;
    justify-content: center;
    letter-spacing: 0;
    margin-left: -6px;
    text-align: center;
}
.pipelinestage:first-of-type {
    border-radius: 4px 0 0 4px;
    -webkit-clip-path: polygon(0 0, calc(100% - 6px) 0, 100% 50%, calc(100% - 6px) 100%, 0 100%);
    clip-path: polygon(0 0, calc(100% - 6px) 0, 100% 50%, calc(100% - 6px) 100%, 0 100%);
    margin-left: 0;
}
.pipelinestage:last-of-type {
  border-radius: 0 4px 4px 0;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 2px 100%, 8px 50%, 2px 0);
  clip-path: polygon(100% 0, 100% 100%, 2px 100%, 8px 50%, 2px 0);
}
.pipelinestage-current~.pipelinestage {
    background-color: rgba(33,35,44,.12);
    color: #65686f;
}



/* Pipedrive Box Code */
.pdstage-area {overflow: auto; height: calc(100% - 72px); display: grid; padding: 0 var(--pd-spacing-200) 0 var(--pd-spacing-200);}
.pdstage-area::-webkit-scrollbar {width: 10px;}
.pdstage-area::-webkit-scrollbar-track {background-color: #e4e4e4; border-radius: 100px;}
.pdstage-area::-webkit-scrollbar-thumb {border-radius: 100px; background-color:#211c52; box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);}

.toolbutton-grprow{display: flex; align-items: center;}
.toolbutton-group{display: flex; margin-right: 10px;;}
.toolbutton-group a{display: inline-block;}

.pdstage-row {display: flex; height: 100%;}
.pdstage-col{min-width: 0; display: flex; flex-direction: column; flex-basis: 100%; background-color: #f5f5f6; padding: 8px 0; margin-left: 8px;}
.pdstage-col:first-child{margin-left: 0;}
.pdstage-header{padding:0 8px; display: flex; align-items: flex-start; -webkit-box-pack: justify; justify-content: space-between; position: sticky; top: -1px; min-width: 45px; z-index: 1; flex-direction: column; background-color: #f5f5f6;}
.pdstage-head{width: 100%; overflow: hidden;}
.pdstage-headinner{font-weight: 600; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.pdstage-summary{margin-top: 8px;}
.pdstage-price{margin-right: 8px;}
.pdstage-value{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.pdstage-num{position: relative; padding-left: 10px;}
.pdstage-num::after{content: ''; position: absolute; left: 0; top: 50%; width: 4px; height: 4px; background-color: #21232c; margin-top: -1px; border-radius: 4px;}

.pdstage-list{padding: 0 8px; margin-top: 4px;}
.pdstage-item{margin-top: 8px; padding: 0 8px;}
.pdstage-box{position: relative; background-color: #fff; padding: 6px 8px; border-radius: 4px; box-shadow: 0 0 1px 1px rgb(0 0 0/5%),0 1px 2px -2px rgb(0 0 0/6%),0 1px 3px 0 rgb(0 0 0/7%);}
.pdstage-boxlink, .pdstage-boxlink:focus{color: #21232c; text-decoration: none; outline: 0;}
.pdstage-boxlink:hover{color: #21232c; text-decoration: none;}
.pdstage-title{font-weight:bold; word-break: break-word;}
.pdstage-description{min-height: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: 4px;}
.pdstage-descitem{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.pdstage-status-row{margin-top: 5px; margin-bottom: 5px; position: relative; display: flex; flex-flow: row; -webkit-box-align: stretch; align-items: stretch; align-items: center;}
.pdstage-avatar{margin-right: 8px;}
.pdstage-status-row .pdstage-value{margin-right: 4px;}
.pdstage-avatar i{font-size: 16px; color: #21232c;}
.pdstage-status-indicator{position: absolute; right: 12px; bottom: 12px; z-index: 1;}
.pdstage-indicator-icon{cursor: pointer; position: relative; line-height: 1;}
.pdstage-indicator-icon:after {opacity: 0; content: ''; position: absolute; left: -3px; top: -2px; right: -3px; bottom: -2px; border: 1px solid #bbb; border-radius: 50%;}
.pdstage-indicator-icon:hover:after{opacity: 1;}
.pdstage-indicator-icon i{font-size: 18px; color: rgba(250, 94, 81);}


.pdstage-add{visibility: hidden; padding:0; position: sticky; top: 64px; bottom: 0px; display: flex;}
.pdstage-col:hover .pdstage-add{visibility: visible;}
.pdstage-addplus{background-color: #f5f5f6; width: 100%; display: block; border-radius: 4px; padding: 6px 10px;}
.pdstage-addplus:hover{background-color:#ececed;}
.pdstage-addplus i{color: rgba(33,35,44,.72); font-size: 18px;}



.pdlist-row{margin: 0 -12px;}
.pdlisttable-scroll{overflow-y: auto;}
.pdlist-table{width: 100%;}
.pdlist-table th, .pdlist-table td{min-width: 0 !important; padding: 6px 8px; border: 1px solid rgba(33,35,44,.12);}
.pdlist-table th{font-size: 14px;}
.pdlist-table td{font-size: 14px;}
.pdlist-table-selectall{width: 32px;}
.pdlist-table-title{}
.pdlist-table-value{text-align: right;}
.pdlist-table-org{}
.pdlist-table-contact{}
.pdlist-table-closedate{width: 120px;}
.pdlist-table-actdate{width: 120px;}
.pdlist-table-owner{}
.pdlist-table-cogs{width: 32px;}
.ellipsistxt{overflow: hidden; width: 100%;}
.ellipsistxt span{display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.pdlisttable-select{display: flex;}
.pdlisttable-select input[type="checkbox"] {width: 16px; height: 16px;}
.pdlisttable-title{}
.pdlisttable-value{}
.pdlisttable-org{}
.pdlisttable-contact{}
.pdlisttable-closedate{}
.pdlisttable-actdate{}
.pdlisttable-owner{}
.pdlisttable-cogs{}


.pdlisttable-item{position: relative;}
.tbl-editicon{display: none; position: absolute; right: 0; top: -1px; z-index: 1;}
.pdlist-table td:hover .tbl-editicon{display: block;}
.tbl-editicon a{text-decoration: none; display: inline-block; width: 24px; height: 24px; background-color: #fff; border: 1px solid rgba(33, 35, 44, .54); border-radius: 5px; text-align: center; color: #21232c;}
.tbltitle-data{}
.pdlist-table td a{color: #21232c; text-decoration: none;}
.tblclosedate-data {height: 23px;}

/* Edit Stage CSS Start */
.editstage-row{height: 100%; padding: 0 8px; overflow: scroll hidden; display: flex; flex-direction: row;}
.scrollable-stages-container{}
.editstage-col{height: 100%; min-width: 256px; width: 256px; background-color:#f5f5f6; display: flex; flex-direction: column; border-radius: 8px; margin-left: 8px; flex-basis: 100%; box-shadow: 0 0 1px 1px rgb(0 0 0/5%),0 1px 2px -2px rgb(0 0 0/6%),0 1px 3px 0 rgb(0 0 0/7%); opacity: 1;}
.editstage-col:first-child{margin-left: 0;}
.editstagebox{position: relative;height: 100%;}
.editstage-head{position: relative; background-color: #f5f5f6; border-radius: 8px;}
.editstage-headin{padding: 16px; display: flex;}
.editstage-headlead{display: flex; flex: 1 1 0%; flex-direction: column; overflow: hidden;}
.editstage-leadtitle{font-weight: 600; padding-bottom: 5px;}
.editstage-leadicons{display: flex;}
.editstage-leadicon, .editstage-bellicon{font-size: 12px;}
.editstage-bellicon{margin-left: 10px; position: relative; padding-left: 12px;}
.editstage-bellicon:after{content: ''; position: absolute; left: 0; top: 50%; width: 4px; height: 4px; background-color: #21232c; margin-top: -1px; border-radius: 4px;}


.editstage-dragicon{display: flex; -webkit-box-align: center; align-items: center;}
.editstage-plusicon {display: none; position: absolute; top: 10px; z-index: 1; width: 24px; height: 24px;border: 1px solid rgba(33, 35, 44, .24); border-radius: 20px; animation: 500ms ease 0s 1 normal none running ikgggy; background-color: #fff; text-align: center; cursor: pointer; box-shadow: 0 0 1px 1px rgb(0 0 0/5%), 0 1px 2px -2px rgb(0 0 0/6%), 0 1px 3px 0 rgb(0 0 0/7%);}
.plusiconleft{left: -14px;}
.plusiconright{right: -14px;}
.editstage-col:hover .editstage-plusicon {display: block;}

.editstage-data{height:calc( 100%  - 78px); padding: 16px; display: flex; flex-direction: column; -webkit-box-pack: justify; justify-content: space-between; border-top: 1px solid rgba(33,35,44,.12);}
.editstage-innerdata{display: flex; flex-direction: column;}
.editstage-field{padding: 8px 0;}
.editstage-fieldname{position: relative; display: flex; margin-bottom: 4px; font-size: 14px; padding-right: 20px;}
.editstage-infoicon{position: absolute; right: 0; top: 0; z-index: 1; cursor: pointer;}
.editstage-fieldinput{position: relative;}
.editstage-inputbox{align-items: center; display: flex; position: relative;}
.editstage-inputbox .form-control{height: 32px; font-size: 14px;}
.editstage-fieldcheck{display: flex; flex-direction: column;}
.editstage-checkbox{position: relative; display: flex; flex: 1 1 0%;}
.checktogglebox{display: block; position: relative;}
.checktogglebox input[type="checkbox"]{opacity: 0; position: absolute; z-index: -1;}
.checktoggle{ flex: 0 0 auto; display: inline-block; background-color: rgba(33,35,44,.24); width: 32px; height:16px; cursor: pointer; border-radius: 16px; margin: 2px 0; position: relative; transition: background-color .1s cubic-bezier(.5,0,.2,1); -webkit-user-select: none; -moz-user-select: none;user-select: none; }
.checktoggle:after {content: ""; position: absolute; top: 0; left: 0; margin: 2px; width: calc(16px - 4px); height: calc(16px - 4px); background-color: #fff; border-radius: 100%; 
  transition: left var(--pd-motion-duration-100) var(--pd-motion-ease-transition), right var(--pd-motion-duration-100) var(--pd-motion-ease-transition);}
.checktoggle, .checktoggle:after {transition-property: color, background-color, fill, border; transition-duration: 0.5s; transition-timing-function: ease;}
.checktogglebox input[type=checkbox]:checked:not([disabled]):not([readonly])~.checktoggle {background-color: #2d8647;}
.checktogglebox input[type=checkbox]:checked~.checktoggle:after {left: calc(32px - 16px);}
.checktogglebox:hover input[type=checkbox]:not(:checked):not([disabled]):not([readonly])~.checktoggle {background-color: rgba(33,35,44,.48);}
.fieldchecklabel{padding: 0 8px;font-size: 14px;}
.fieldcheck-infoicon{position: absolute; right: 0; top: 0; z-index: 1;cursor: pointer;}


.editstage-delete{min-height: 48px; display: flex; border-top: 1px solid rgba(33,35,44,.12); margin: -16px;}
.editstage-deleteinn{display: flex; -webkit-box-align: center; align-items: center; margin: 0 8px;}
.editstage-deletebtn{display: flex; align-items: center; background-color: #f5f5f6; border-radius: 4px; border: none; cursor: pointer; display: inline-flex; font-size: 14px; padding: 8px;}
.editstage-deletebtn:hover{background-color: rgb(33 35 44/5%);}
.editstage-deletebtn svg{margin-right: 5px;}

.editstage-newcol{background-color: #fff; border: none; box-shadow: none; min-width: 256px; display: flex; flex: 1 1 0%; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; flex-direction: column; position: relative; padding: 16px;}
.addnewstagbox{min-width: 256px; display: flex; flex: 1 1 0%; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; flex-direction: column; position: relative; padding: 16px;}
.addnewstag-innbox{display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; text-align: center;}
.addnewstagbox-text{display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; text-align: center;}
.addnewstagbox-text h3{font-size: 25px; line-height: 1.1; font-weight: 600; margin-bottom: 20px; padding-bottom: 0;}
.addnewstagbox-text p{margin: 0 0 16px; font-size: 14px;}
.addnewstag-btn{background-color: #fff; display: inline-flex; justify-content: center; align-items: center; font-size:14px; font-weight: 600; height: 32px; padding: 8px 10px; border: 1px solid rgba(33,35,44,.24); border-radius: 4px; box-shadow: 0 1px 2px 0 rgb(42 54 71/5%); cursor: pointer; margin: 0; min-width: 32px; position: relative; text-align: center; text-decoration: none; transition: background .1s cubic-bezier(.5,0,.2,1);  -webkit-user-select: none; -moz-user-select: none; user-select: none; vertical-align: top;}
.addnewstag-btn:hover{background-color: #f5f5f6;}
.addnewstag-btn i{margin-right: 5px;}
/* Edit Stage CSS End */



.dMOlvw{
  height: 100%;
  overflow: scroll hidden;
  display: flex;
  flex-direction: column;
  padding: 0px 16px 16px;
}
.gDOqRI {
  min-width: 190px;
  width: 190px;
  background-color: var(--pd-color-surface-foreground-secondary);
  display: flex;
  flex-direction: column;
  border-radius: var(--pd-radius-l);
  margin-left: var(--pd-spacing-100);
  flex-basis: 100%;
}

.indClW {
  min-width: 256px;
  display: flex;
  flex: 1 1 0%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 16px;
}

.spinner {
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
}

.modal-open {
  overflow: hidden; }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none; }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px); }
    @media (prefers-reduced-motion: reduce) {
      .modal.fade .modal-dialog {
        transition: none; } }
  .modal.show .modal-dialog {
    transform: none; }

.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - 1rem); }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden; }
  .modal-dialog-scrollable .modal-header,
  .modal-dialog-scrollable .modal-footer {
    flex-shrink: 0; }
  .modal-dialog-scrollable .modal-body {
    overflow-y: auto; }

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem); }
  .modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    content: ""; }
  .modal-dialog-centered.modal-dialog-scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%; }
    .modal-dialog-centered.modal-dialog-scrollable .modal-content {
      max-height: none; }
    .modal-dialog-centered.modal-dialog-scrollable::before {
      content: none; }

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0; }
  .modal-backdrop.show {
    opacity: 0.5; }

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem; }
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto; }

.modal-title {
  margin-bottom: 0;
  line-height: 1.5; }

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem; }

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem; }
  .modal-footer > :not(:first-child) {
    margin-left: .25rem; }
  .modal-footer > :not(:last-child) {
    margin-right: .25rem; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto; }

  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem); }
    .modal-dialog-scrollable .modal-content {
      max-height: calc(100vh - 3.5rem); }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem); }
    .modal-dialog-centered::before {
      height: calc(100vh - 3.5rem); }

  .modal-sm {
    max-width: 300px; } }
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px; } }
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px; } }